.App {
  text-align: center;
  display: flex;
}
.Header {
  position: fixed;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  margin-left: 40rem;
}
/* write your parent styles in here for your App.js */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  color: black;
  width: 400px;

}

.container {
  display: flex;
}