.App {
  text-align: center;
  width: 80%;

}
.Header {
  position: fixed;
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  margin-left: 40rem;
  padding: 20px;
  font-size: 100px;
}
/* write your parent styles in here for your App.js */
.card {
  margin-top: 60px;
  padding: 30px;
  color: rgb(177, 174, 174);
  background:rgb(49, 49, 49);
  width: 40%;
  border: 5px solid black;
  border-radius: 15px;
  text-size-adjust: justify;
  
}

.card h3 {
  font-weight: bolder;
  background-color: darkslategrey;
}

